doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/style.css")
        script(src="../src/controllButton.js")
        script(src="../src/showChangeView.js")
        script(src="../src/show_moblie.js")
        title mainPage
    body
        #contentWrapper
            #content1
            #content2
            #content3

            button.btn.btn-primary(onclick="")
            button.btn.btn-primary(onclick="")
            //- button.btn.btn-primary(type='onclick')